<!DOCTYPE html>
<html>
  <head>
    <title>Parkade.host - Domain Parking Service</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body class="antialiased bg-gray-200 font-sans">
    <%= yield %>
  </body>
</html>
